<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="assets/main.css">
</head>

<body id="app">
  <ul class="top">
    <li>審神者<b v-if="view.player.name != null">{{view.player.name}}</b></li>
    <li v-if="view.player.level != null">Lv.<b>{{view.player.level}}</b></li>
    <li v-if=!view.resource.set>暫未獲取資料，請進入本丸分頁</li>
    <li v-if="view.pluginInfo.version != null">目前版本：<b>{{view.pluginInfo.version}}</b></li>
    <li v-if="view.pluginInfo.manifest_version = 2">(BETA)</li>
  </ul>
  <ul class="nav">
    <li v-class="active: tab == 2" v-on="click: tab = 2">隊伍</li>
    <li v-class="active: tab == 3" v-on="click: tab = 3">資材</li>

    <!-- 工程中  -->
    <li v-if="(config.debugMode == 1 || config.debugMode == 2)" v-class="active: tab == 4" v-on="click: tab = 4">調度</li>
    <!-- 工程中  -->

    <li v-class="active: tab == 5" v-on="click: tab = 5">紀錄</li>
    <li v-class="active: tab == -1" v-on="click: tab = -1">設定</li>
    <li v-class="active: tab == -2" v-on="click: tab = -2">關於套件</li>
  </ul>
  <div class="container">
    <div v-if="!gaming" class="outgame">暫未取得資料，如已開啟【儲存遊戲資料】功能，顯示的應為先前的暫存紀錄</div>

    <!-- 分頁 #2：隊伍 -->
    <div v-if="!view['party']['set']" v-show="tab==2">暫未取得隊伍資料，請進入結成頁面</div>
    <div v-if="view['party']['set']" v-show="tab==2">
      <div v-if="view['party']['set']" class="party">
        <div v-repeat="view['party']['data']" class="party-item">
          <!-- 隊伍狀態标注-->
          <div class="name">{{party_name}}
            <span v-show="in_battle(party_no)" class="status">[戰鬥中]</span>
            <span v-show="status == 2" class="status">[遠征中][{{finished_at | conquest_time}}回歸]</span>
            <span v-show="!in_battle(party_no) && status == 1 && party_no == 1" class="status">§近侍處理公文中§</span>
            <span v-show="!in_battle(party_no) && status == 1 && party_no > 1" class="status">[本丸滯留中]</span>
          </div>
          <!-- 隊伍狀態标注-->

          <!-- 等级标注-->
          <div class="amounts">
            <span class="alv">  Average Lv.<b>{{average_lv}} </b></span>
            <span class="lva">Total Lv.<b>{{amount_lv}}</b></span>
          </div>
          <!-- 等级标注-->
          <!-- 隊員列表 -->
          <ul class="swords">
            <li v-repeat="slot" class="ss">
              <!-- 空隊員 -->
              <div v-if="serial_id==null" class="item"><img src="../../assets/sword/0.png" class="simg">
                <div class="c">
                  <div class="sname">空</div>
                  <div class="slv">Lv.0 (next 0)</div>
                </div>
                <div class="c">
                  <div class="shp">HP 0 / 0</div>
                  <div class="sf">
                    <span class="sfico"></span>0
                  </div>
                </div>
                <div class="c2">
                  <div class="sequ"><span>[空]</span></div>
                </div>
              </div>
              <!-- 空隊員 -->
              <!-- 單一刀劍狀態 -->
              <div v-if="serial_id!=null" class="item"><img v-attr="src: '../../assets/sword/' + sword_id + '.png'" class="simg">
                <div class="c">
                  <div class="sname">{{name}}
                    <span v-show="status == 1" class="ssta">[手入]</span>
                    <span v-show="hp/hp_max <= 0.9 && hp/hp_max > 0.65 && status != 1" class="ssta y">[軽傷]</span>
                    <span v-show="hp/hp_max <= 0.65 && hp/hp_max > 0.3 && status != 1" class="ssta o">[中傷]</span>
                    <span v-show="hp/hp_max <= 0.3 && status != 1" class="ssta r">[重傷]</span>
                  </div>
                  <div class="slv">Lv.{{level}}(next {{next_exp}})</div>
                </div>
                <div class="c">
                  <div class="shp">HP {{hp}} / {{hp_max}}</div>
                  <div class="sf">
                    <span v-class="r: fatigue < 6,y: fatigue >= 6 && fatigue < 20,p: fatigue >= 50" class="sfico"></span>
                    <span v-show="fatigue >= 50">桜吹雪</span>
                    <span v-show="fatigue < 50 && fatigue >= 20">通常</span>
                    <span v-show="fatigue < 20">疲労</span>
                    <span>{{fatigue}}</span>
                    <span v-show="fatigue >= 50">(+20%)</span>
                    <span v-show="fatigue >= 6 && fatigue < 20">(-20%)</span>
                    <span v-show="fatigue < 6">(-40%)</span>
                  </div>
                </div>
                <!-- 刀裝 -->
                <div class="c2">
                  <div class="sequ"><span v-if="equip_serial_id1 != null" v-class="r: equip_1['level'] == 2, ur: equip_1['level'] == 0, b: equip_1['soldier_now'] == 0">[{{equip_1['sname']}} {{equip_1['soldier_now']}}/{{equip_1['soldier_max']}}]</span><span v-if="equip_serial_id1 == null && max_equip >= 1">[空]</span>
                    <span v-if="equip_serial_id2 != null" v-class="r: equip_2['level'] == 2, ur: equip_2['level'] == 0, b: equip_2['soldier_now'] == 0">[{{equip_2['sname']}} {{equip_2['soldier_now']}}/{{equip_2['soldier_max']}}]</span>
                    <span v-if="equip_serial_id2 == null && max_equip >= 2">[空]</span>
                    <span v-if="equip_serial_id3 != null" v-class="r: equip_3['level'] == 2, ur: equip_3['level'] == 0, b: equip_3['soldier_now'] == 0">[{{equip_3['sname']}} {{equip_3['soldier_now']}}/{{equip_3['soldier_max']}}]</span>
                    <span v-if="equip_serial_id3 == null && max_equip >= 3">[空]</span></div>
                </div>
                <!-- 刀裝 -->
              </div>
              <!-- 單一刀劍狀態 -->
            </li>
          </ul>
          <div class="clear"></div>
          <!-- 隊員列表 -->
        </div>
      </div>
    </div>
    <!-- 分頁 #2：隊伍 -->

    <!-- 分頁 #3：資材 -->
    <div v-if="tab==3" class="forge-rep">
      <div class="panel fr">
        <!-- 鍛刀資源 -->
        <div>
          <div class="t">鍛刀資源</div>
          <table>
            <thead>
              <tr>
                <th>名稱</th>
                <th>數量</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>依頼札</td>
                <td><b v-if="view.resource.bill!=null">{{Math.floor(view.resource.bill)}}</b></td>
              </tr>
              <tr>
                <td>木炭</td>
                <td><b v-if="view.resource.charcoal!=null">{{Math.floor(view.resource.charcoal)}}</b></td>
              </tr>
              <tr>
                <td>玉鋼</td>
                <td><b v-if="view.resource.steel!=null">{{Math.floor(view.resource.steel)}}</b></td>
              </tr>
              <td>冷却材</td>
              <td><b v-if="view.resource.coolant!=null">{{Math.floor(view.resource.coolant)}}</b></td>
              </tr>
              <tr>
                <td>砥石</td>
                <td><b v-if="view.resource.file!=null">{{Math.floor(view.resource.file)}}</b></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- 鍛刀資源 -->

        <!-- 本丸資產 -->
        <div>
          <div class="t">本丸資產</div>
          <div v-show="!view['resource']['set']" class="amounts">暫未取得資料，請進入鍛刀頁面</div>
          <table>
            <thead>
              <tr>
                <th>名稱</th>
                <th>數量</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>手伝い札</td>
                <td><b v-if="view.resource.bonemeal!=null">{{Math.floor(view.resource.bonemeal)}}</b></td>
              </tr>
              <tr>
                <td>小判</td>
                <td><b v-if="view.resource.money!=null">{{Math.floor(view.resource.money)}}</b></td>
              </tr>
            </tbody>
          </table>
          <div>手伝い札、小判数量僅於登入遊戲時可取得資訊，所以數值不會變化。</div>
        </div>
        <!-- 本丸資產 -->

        <!-- 鍛刀 -->
        <div>
          <div class="t">鍛刀 <span style="cursor: pointer;" v-on="click: toggleForge" class="alv">[點擊查看或關閉劇透]</span></div>
          <div class="amounts">
            <span class="alv">工坊<b>{{data['forge']['open']}}</b></span>
            <span class="lva">使用中<b>{{checkout('forge')}}</b></span>
          </div>
          <ul class="equ">
            <li v-repeat="data['forge']['data']">[{{finished_at | tt2lt}}] {{sword_id | fs2n}}</li>
          </ul>
        </div>
        <!-- 鍛刀 -->

        <!-- 手入 -->
        <div>
          <div class="t">手入</div>
          <div class="amounts">
            <span class="alv">工坊<b>{{data['repair']['open']}}</b></span>
            <span class="lva">使用中<b>{{checkout('repair')}}</b></span>
          </div>
          <ul class="equ">
            <li v-repeat="data['repair']['data']">[{{finished_at | tt2lt}}] {{sword_serial_id | sid2n}}</li>
          </ul>
        </div>
        <!-- 手入 -->
      </div>

    </div>
    <!-- 分頁 #3：資材 -->

    <!-- 分頁 #3：資材 刀裝‧馬 -->
    <div v-if="tab==3" class="forge-rep">
      <div class="panel fr">
        <div class="t">刀裝‧馬</div>
        <!-- 無法單純顯示未裝備刀裝 僅可顯示所有資源 -->
        <div v-show="!view['equips']['set']" class="amounts">暫未取得資料，請進入結成頁面</div>
        <ul v-if="view['equips']['set']" class="equ">
          <table>
            <thead>
              <tr>
                <th><strong>種類</strong></th>
                <th><strong>數量</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr v-repeat="view['equips']['data']">
                <td>[{{$key | e2n}}]</td>
                <td>{{$value}}</td>
              </tr>
            </tbody>
          </table>
        </ul>
      </div>
    </div>
    <!-- 分頁 #3：資材 刀裝‧馬 -->

    <!-- 分頁 #3：資材 馬 工事中
    <div v-if="tab==3" class="forge-rep">
      <div class="panel fr">
        <div class="t">馬</div>
         
        <div v-show="!view['equips']['set']" class="amounts">暫未取得資料，請進入結成頁面</div>
        <ul v-if="view['equips']['set']" class="equ" >
          <li v-repeat="view['equips']['data']">[{{$key | e2n}}] 持有 {{$value}}</li>
        </ul>
      </div>
    </div>-->
    <!-- 分頁 #3：資材 刀裝‧馬 -->

    <!-- 分頁 #4：調度 -->

    <!-- 分頁 #4：調度 各隊目前狀態 -->
    <div v-if="tab==4 && (config.debugMode == 1 ||config.debugMode == 2)"  class="forge-rep">
      <div class="panel fr">
        <div class="t">各隊目前狀態</div>
        <div v-if="view['party']['set']" class="party">
          <div v-repeat="view['party']['data']" class="party-item">
            <div class="name">{{party_name}}
              <span v-show="in_battle(party_no)" class="status">[戰鬥中]</span>
              <span v-show="status==2" class="status">[遠征中] 回歸時間：{{finished_at | conquest_time}}</span>
              <span v-show="!in_battle(party_no) && status==1 && party_no==1" class="status">§近侍處理公文中§</span>
              <div v-show="!in_battle(party_no) && status==1 && party_no>1" class="status">
                <span>[本丸滯留中]</span>
                <span v-show="average_fatigue >= 90"> 有大成功的預感!!</span>
                <span v-show="average_fatigue >= 49 && average_fatigue < 89"> 整備完畢，可以立刻出征。 </span>
                <span v-show="average_fatigue < 49"> 隊伍尚未修整完畢...</span>
              </div>
            </div>
            <div class="amounts">
              <span class="lva">  總士氣.<b>{{amount_fatigue}}</b></span>
              <span class="alv">  平均士氣.<b>{{average_fatigue}}</b></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 分頁 #4：調度 各隊目前狀態 -->

    <!-- 分頁 #4：調度 雜言 工事中!! -->
    <div v-if="tab==4 && (config.debugMode == 1 ||config.debugMode == 2)" class="forge-rep">
      <div class="panel fr">

        <!-- 關於資源的建言 -->
        <div class="t">雜言</div>
        <div>
          <li v-if="view.resource.money < 20000">博多騰四郎：<b>哎呀哎呀小判不足了啊!!</b></li>
          <li v-if="view.resource.money >= 20000 && view.resource.money < 200000">博多騰四郎：<b>這樣的存款...下次活動沒有問題嗎？</b></li>
          <li v-if="view.resource.money >= 200000 && view.resource.money < 500000">博多騰四郎：<b>小有餘裕~ 真是太好了呀！</b></li>
          <li v-if="view.resource.money >= 500000">博多騰四郎：<b>主上，有考慮進行什麼投資嗎？</b></li>
        </div>
        <div v-if=" (config.debugMode == 1 ||config.debugMode == 2)">
          <li> 長谷部：目前本丸資材，
            <spam v-if="view.resource.charcoal < 10000"><b>木炭</b></spam>
            <spam v-if="view.resource.steel < 10000 && view.resource.charcoal < 10000"><b>、</b></spam>
            <spam v-if="view.resource.steel < 10000"><b>玉鋼</b></spam>
            <spam v-if="view.resource.steel < 10000 && view.resource.coolant < 10000"><b>、</b></spam>
            <spam v-if="view.resource.coolant < 10000"><b>冷卻材</b></spam>
            <spam v-if="view.resource.file < 10000 && view.resource.coolant < 10000"><b>、</b></spam>
            <spam v-if="view.resource.file < 10000"><b>砥石</b></spam>
            <spam v-if="view.resource.charcoal < 10000 || view.resource.steel < 10000 || view.resource.coolant < 10000 || view.resource.file < 10000"><b>，有數量上的困難，請考慮針對該項資材安排遠征。</b></spam>
            <spam v-if="view.resource.charcoal > 100000 && view.resource.steel > 100000 && view.resource.coolant > 100000 && view.resource.file > 100000"><b>並沒有數量上的困難</b></spam>
            <spam v-if="view.resource.charcoal < 200000 && view.resource.steel < 200000 && view.resource.coolant < 200000 && view.resource.file < 200000"><b>，但仍請節約使用資材。</b></spam>
            <spam v-if="view.resource.charcoal < 300000 && view.resource.steel < 300000 && view.resource.coolant < 300000 && view.resource.file < 300000"><b>。</b></spam>
            <spam v-if="view.resource.charcoal > 300000 && view.resource.steel > 300000 && view.resource.coolant > 300000 && view.resource.file > 300000 "><b>，已達充裕地步，面對不論是什麼樣的活動都不會有問題了呢。</b></spam>
          </li>
        </div>
      </div>
    </div>
    <!-- 分頁 #4：調度 雜言 工事中!! -->

    <!-- 分頁 #4：調度 飄花清單 工事中!! -->

    <!-- 未飄花清單 工事中!! 
    <div v-if="tab==4" v-if=" config.debugMode == 2" class="forge-rep">
      <div class="panel fr">
        <div  class="t">未飄花清單</div>
      </div>
    </div>

    <!-- 未飄花清單 工事中!! -->

    <!-- 未櫻三付清單 工事中!! 
    <div v-if="tab==4" v-if=" config.debugMode == 2" class="forge-rep">
      <div class="panel fr">
        <div class="t">未櫻三付清單</div>
      </div>
    </div>

    <!-- 未櫻三付清單 工事中!! -->

    <!-- 手入中清單-->
    <div v-if="tab==4 (config.debugMode == 1 ||config.debugMode == 2)" class="forge-rep">
      <div class="panel fr">
        <div class="t">手入中清單</div>
        <ul v-if="data['repair']['data']" class="equ">
          <table>
            <thead>
              <tr>
                <th><strong>名稱</strong></th>
                <th><strong>手入結束時間</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr v-repeat="data['repair']['data']">
                <td>{{sword_serial_id | sid2n}}</td>
                <td>[{{finished_at | tt2lt}}]</td>
              </tr>
            </tbody>
          </table>
        </ul>
      </div>
    </div>
    <!-- 手入中清單-->

    <!-- 未手入刀劍清單 工事中!! -->
    <div v-if="tab==4 && config.debugMode == 2" class="forge-rep">
      <div class="panel fr">
        <div class="t">未手入刀劍清單</div>
        <!--
        <div v-repeat="data['sword']['data']!=null">
          <li>
            {{sword_serial_id | sid2n}} Lv.{{level}}
            <div class="shp">HP {{hp}} / {{hp_max}}</div>
          </li>
        </div>
        -->
      </div>
    </div>

    <!-- 數值未滿刀劍清單 工事中!!-->
    <div v-if="tab==4" class="forge-rep">
      <div class="panel fr">
        <div v-if=" config.debugMode == 2" class="t">數值未滿清單</div>
      </div>
    </div>
    <!-- 數值未滿刀劍清單 工事中!!-->

    <!-- 內番建議清單 工事中!!-->
    <div v-if="tab==4" class="forge-rep">
      <div class="panel fr">
        <div v-if=" config.debugMode == 2" class="t">內番建議清單</div>
      </div>
    </div>
    <!-- 內番建議清單 工事中!!-->

    <!-- 分頁 #4：調度 -->

    <!-- 分頁 #5 ：紀錄 -->
    <div v-if="tab==5" class="logs">

      <div class="panel">
        <div>
          <b class="t ">匯出紀錄、刪除紀錄</b>
        </div>
        <span class="desc" ; style=" cursor: pointer;" v-on="click: saveLogs()"><** 點擊另存原始數據(CSV文件) **></span>
        <span class="desc" ; style=" cursor: pointer;" v-on="click: clearLogsForge()"><** 清空鍛刀資料 **></span>
        <span class="desc" ; style=" cursor: pointer;" v-on="click: clearLogsForge()"><** 清空撿刀紀錄 **></span>
      </div>

      <div class="panel ">
        <div>
          <b class="t ">鍛刀紀錄</b>
        </div>
        <table>
          <thead>
            <tr>
              <th>時間</th>
              <th>結果</th>
              <th>耗時</th>
              <th>木炭</th>
              <th>玉鋼</th>
              <th>冷却材</th>
              <th>砥石</th>
            </tr>
          </thead>
          <tbody>
            <tr v-repeat="data[ 'logs'][ 'forge'] ">
              <!-- "1-1426389451000 ":{"slot_no ":"1 ","finish_at ":1426389451000,"sword_id ":"45 ","resource ":false,"charcoal ":"50 ","coolant ":"50 ","file ":"50 ","steel ":"50 "}-->
              <td>{{finish_at | ls2t}}</td>
              <td>{{sword_id | ls2n}}</td>
              <td>{{resource?times:'-'}} min</td>
              <td>{{resource?charcoal:'-'}}</td>
              <td>{{resource?steel:'-'}}</td>
              <td>{{resource?coolant:'-'}}</td>
              <td>{{resource?file:'-'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel ">
        <div>
          <b class="t ">撿刀紀錄</b>
        </div>
        <table>
          <thead>
            <tr>
              <th>時間</th>
              <th>隊伍</th>
              <th>評分</th>
              <th>獲得</th>
              <th>地圖</th>
              <th>位置</th>
            </tr>
          </thead>
          <tbody>
            <tr v-repeat="data[ 'logs'][ 'battle'] ">
              <td>{{time | ls2t}}</td>
              <td>{{party_no}}</td>
              <td>{{rank | r2r}}</td>
              <td>{{get_sword_id | ls2n}}</td>
              <td v-if="battle_episode>=0">{{battle_episode}}-{{battle_field}}</td>
              <td v-if="battle_episode<0">ev</td>
              <td>{{battle_pos}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 分頁 #5 ：紀錄 -->

    <!-- 分頁 #-1：設定 功能-->
    <div v-show="tab==-1">
      <div class="panel-config">
        <div class="t">功能</div>
        <ul class="sl">
          <li>
            <div class="act">疲勞估算功能<span v-class="on: config.cad == 0" v-on="click: applyConfig('cad', 0)">OFF</span><span v-class="on: config.cad == 1" v-on="click: applyConfig('cad', 1)">ON</span></div>
            <div class="desc">§ 建議開啟 §</div>
            <div class="desc">因为从游戏数据中只能拿到【休息和战斗时就算刷新游戏也没有变化的】疲劳数据。开启该功能后会根据toulove上的说明进行模拟演算(恢复时间为每三分钟恢复三点。)</div>
            <div class="desc">但是你要是不开启这个功能的话就算你退游戏一晚上起来虽然体力值都应该恢复到49了但是数据上还是会维持疲劳状态。</div>
            <div class="desc">目前尚未发现获得完全准确数据的方法。</div>
          </li>
          <!-- 分頁 #-1：設定 [工程中]-->
          <li v-if=" config.debugMode == 2">
            <div class="act">在结成界面显示真实疲劳数据<span v-class="on: config.cadOffList == 0" v-on="click: applyConfig('cadOffList', 0)">关闭</span><span v-class="on: config.cadOffList == 1" v-on="click: applyConfig('cadOffList', 1)">开启</span></div>
            <div class="desc">其实没什么用，不建议开启。因为这种纯净的数据反而不能反应真实情况。</div>
            <div class="desc">这个选项被留下的目的是为了方便调试。</div>
          </li>
          <li>
            <div class="desc">...</div>
            <div class="act">開發模式<span v-class="on: config.debugMode == 0" v-on="click: applyConfig('debugMode', 0)">OFF</span><span v-class="on: config.debugMode == 1" v-on="click: applyConfig('debugMode', 1)">ON</span><span v-class="on: config.debugMode == 2" v-on="click: applyConfig('debugMode', 2)">SUDO</span></div>
            <div class="desc">開啟後顯示調教中新功能：[OFF]模式下僅顯示穩定功能，[ON]模式會顯示這次新增的功能。</div>
            <div class="desc">[SUDO]模式目前僅供工程師debug用。</div>
          </li>
          <!-- 分頁 #-1：設定 [工程中]-->
        </ul>
      </div>

    </div>
    <!-- 分頁 #-1：設定 資料-->
    <div v-show="tab==-1">
      <div class="panel-config">
        <div class="t">資料</div>
        <ul class="sl">
          <li>
            <div class="act">本機資料暫存<span v-class="on: config.dataCache == 0" v-on="click: applyConfig('dataCache', 0)">OFF</span><span v-class="on: config.dataCache == 1" v-on="click: applyConfig('dataCache', 1)">ON</span></div>
            <div class="desc">§ 建議開啟 §</div>
            <div class="desc">將遊戲資料暫存於本機。開啟後：戰鬥中不小心關閉套件，可重新開啟套件並解析戰鬥數據。</div>
            <div class="desc">注：需開啟本功能，紀錄分頁才能顯示歷史紀錄。</div>
            <div class="desc">...</div>
            <div class="act">清除紀錄
              <span v-show="dataExist" v-on="click: applyConfig('dataCache', -1)" style="cursor: pointer;" class="desc">< ** 清除過去紀錄 **></span>
              <span v-show="dataExist" v-on="click: clearLogsForge()" style="cursor: pointer;" class="desc"><** 清空鍛刀資料 **></span>
              <span v-show="dataExist" v-on="click: clearLogsForge()" style="cursor: pointer;" class="desc"><** 清空撿刀紀錄 **></span>
            </div>
            <div class="desc">若有顯示清除按鈕，表示目前已有暫存資料存在。</div>
          </li>
        </ul>
      </div>
    </div>
    <!-- 分頁 #-1：設定 彈出視窗-->
    <div v-show="tab==-1">
      <div class="panel-config">
        <div class="t">彈出視窗</div>
        <ul class="sl">
          <li>
            <div class="act">遠征時間提醒<span v-class="on: config.notify_conquest == 0" v-on="click: applyConfig('notify_conquest', 0)">關閉</span><span v-class="on: config.notify_conquest == 1" v-on="click: applyConfig('notify_conquest', 1)">五分鐘前</span><span v-class="on: config.notify_conquest == 2" v-on="click: applyConfig('notify_conquest', 2)">兩分鐘前</span><span v-class="on: config.notify_conquest == 3" v-on="click: applyConfig('notify_conquest', 3)">半分鐘前</span><span v-class="on: config.notify_conquest == 4" v-on="click: applyConfig('notify_conquest', 4)">結束時</span></div>
            <div class="desc">遠征結束提醒。--(提醒级别向下包含。)--{{config.notify_conquest}}</div>
          </li>
          <li>
            <div class="desc">...</div>
            <div class="act">手入時間提醒<span v-class="on: config.notify_repair == 0" v-on="click: applyConfig('notify_repair', 0)">關閉</span><span v-class="on: config.notify_repair == 1" v-on="click: applyConfig('notify_repair', 1)">五分鐘前</span><span v-class="on: config.notify_repair == 2" v-on="click: applyConfig('notify_repair', 2)">兩分鐘前</span><span v-class="on: config.notify_repair == 3" v-on="click: applyConfig('notify_repair', 3)">半分鐘前</span><span v-class="on: config.notify_repair == 4" v-on="click: applyConfig('notify_repair', 4)">結束時</span></div>
            <div class="desc">
              手入結束提醒。 * [待解决]使用手伝い札時，提醒不會消失。
            </div>
          </li>
          <li>
            <div class="desc">...</div>
            <div class="act">戰鬥損失提醒<span v-class="on: config.notify_broken == 0" v-on="click: applyConfig('notify_broken', 0)">關閉</span><span v-class="on: config.notify_broken == 1" v-on="click: applyConfig('notify_broken', 1)">重傷</span><span v-class="on: config.notify_broken == 2" v-on="click: applyConfig('notify_broken', 2)">中傷</span><span v-class="on: config.notify_broken == 3" v-on="click: applyConfig('notify_broken', 3)">輕傷</span><span v-class="on: config.notify_broken == 4" v-on="click: applyConfig('notify_broken', 4)">掉血</span><span v-class="on: config.notify_broken == 5" v-on="click: applyConfig('notify_broken', 5)">刀裝</span></div>
            <div class="desc">戰鬥損失提醒。(提醒级别向下包含。)</div>
          </li>
          <!-- 分頁 #-1：設定 戰鬥掉落 [工程中] -->
          <li>
            <div class="desc">...</div>
            <div class="act">戰鬥掉落提醒
              <span v-class="on: config.notify_getnew == 0" v-on="click: applyConfig('notify_getnew', 0)">關閉</span>
              <!-- 分頁 #-1：設定 戰鬥掉落 [工程中]
              <span v-class="on: config.notify_getnew == 1" v-on="click: applyConfig('notify_getnew', 1)">只提醒亚欧刀</span>
              <span v-class="on: config.notify_getnew == 2" v-on="click: applyConfig('notify_getnew', 2)">只提醒欧洲刀</span>
               分頁 #-1：設定 戰鬥掉落 [工程中] -->
              <span v-class="on: config.notify_getnew == 3" v-on="click: applyConfig('notify_getnew', 3)">全部</span>
            </div>
            <div class="desc">战斗掉落提醒。</div>
          </li>
        </ul>
      </div>
    </div>
    <!-- 分頁 #-1：設定 專有名詞語系 [工程中] -->
    <div v-show="tab==-1 && config.debugMode == 2">
      <div class="panel-config">
        <div class="t">專有名詞語系設定/Language</div>
        <ul class="sl">
          <div class="act">設定語系
            <span v-class="on: config.gamingLanguage == 0" v-on="click: applyConfig('gamingLanguage', 0)">繁體中文</span>
            <span v-class="on: config.gamingLanguage == 1" v-on="click: applyConfig('gamingLanguage', 1)">简体中文</span>
            <span v-class="on: config.gamingLanguage == 2" v-on="click: applyConfig('gamingLanguage', 2)">English</span>
            <span v-class="on: config.gamingLanguage == 3" v-on="click: applyConfig('gamingLanguage', 3)">自訂語言</span></div>
          <li>
          </li>
        </ul>
      </div>
    </div>
    <!-- 分頁 #-1：設定 專有名詞語系 [工程中] -->

    <!-- 分頁 #-1：設定 系統語系 [工程中] 
    <div v-show="tab==-1">
      <div class="panel-config">
        <div class="t">系統語系設定/Language</div>
        <ul class="sl">
          <div class="act">設定語系
            <span v-class="on: config.sysLanguage == 0" v-on="click: applyConfig('sysLanguage', 0)">繁體中文</span>
            <span v-class="on: config.sysLanguage == 1" v-on="click: applyConfig('sysLanguage', 1)">简体中文</span>
            <span v-class="on: config.sysLanguage == 2" v-on="click: applyConfig('sysLanguage', 2)">English</span>
            <span v-class="on: config.sysLanguage == 3" v-on="click: applyConfig('sysLanguage', 3)">自訂語言</span></div>
          <li>
          </li>
        </ul>
      </div>
    </div>
    -->

    <!-- 分頁 #-2：關於套件 -->
    <div v-show="tab==-2">
      <div class="panel-about">
        <div class="t">審神忙 · Tohken Ranbu Helper</div>
        <ul class="sl">
          <li>
            <div class="desc">目前版本： {{view.pluginInfo.version}}<span class="desc" v-if="view.pluginInfo.manifest_version = 2">(BETA)</span></div>
            <div class="desc">更新時間： 2018年02月10日</div>
            <div class="desc">原作者项目仓库：<a href="https://github.com/hitomi/tohken">https://github.com/hitomi/tohken</a></div>
            <div class="desc">本次更新：<a href="https://github.com/ch890333/tohken">https://github.com/ch890333/tohken</a></div>
          </li>
        </ul>

        <div class="t">STAFF</div>
        <ul class="sl">
          <li>
            <div class="act">攻城狮</div>
            <div class="desc">原作者：<a href="http://weibo.com/moelynn" target="_blank">@凌</a></div>
            <div class="desc">本次更新人員：<a href="https://www.plurk.com/CymbieWolf" target="_blank">@技術系阿審</a></div>
          </li>
        </ul>

        <div class="t">參考網站</div>
        <ul class="sl">
          <li>
            <div class="act">攻城狮</div>
            <div class="desc">日文wiki:<a href="http://wikiwiki.jp/toulove/" target="_blank">刀剣乱舞ONLINE（とうらぶ） Wiki*</a></div>
            <div class="desc">日文攻略: <a href="http://刀剣乱舞攻略速報.com" target="_blank">刀剣乱舞攻略速報</a></div>
          </li>
        </ul>

        <div class="t">目前已知BUG</div>
        <ul class="sl">
          <li>
            <div class="act">待克服程式面BUG(?)</div>
            <div class="desc">界面特别窄时字会堆在一起</div>
            <div class="desc">刀裝、馬，無法分開顯示(?)</div>
            <div class="desc">以下資料僅於登入遊戲時可取得：審神者名稱、審神者等級、手伝い札、小判。</div>
            <div class="desc">数量僅於登入遊戲時可取得資訊，各位審神者如果使用了這兩種資源，套件是無法偵測的，所以數值無法進行變化。</div>
            <div class="desc">承接上點，所以即便使用了手伝い札，提醒視窗還是會在原本預定時間內冒出來。</div>
            <div class="desc">隊伍是否處於出陣狀態，目前僅靠阿官回傳的出陣資訊，所以在套件沒抓到新資料時(重新啟動)隊伍會錯誤顯示[本丸滯留中]的狀態。</div>
          </li>
        </ul>
      </div>

      <!-- 更新log -->
      <div class="panel-about">
        <div class="t">更新公告</div>
        <ul class="sl">
          <li>
            <div class="act">v0.3.1.0 </div>
            <div class="desc">新增功能：單獨刪除鍛刀、撿刀紀錄。 對應功能分頁：[紀錄]、[設定]。特別感謝：j123507@Plurk</div>
            <div class="desc">新增功能：分頁[調度]，可於該處檢視隊伍遠征狀態與遠征的整備狀態(大成功)。</div>
            <div class="desc">分頁調整：原先的[本丸]分頁改名為[資材]</div>
            <div class="desc">新增簡易的資源相關提醒。</div>
            <div class="desc">新增開發者模式，對應分頁[設定]。</div>
            <div class="desc">致其他拆包研究的攻城師：版本編號及開發狀態已改為參數(數值放在view中)、新增SUDO模式。</div>
          </li>
          <li>
            <div class="act">v0.3.0.11111 </div>
            <div class="desc">修正因為彙整資料造成的刀劍男子經驗值錯誤</div>
            <div class="desc">UI微調：紀錄分頁增加清除紀錄的說明；本丸分頁，分類並改為表格顯示。</div>
          </li>
          <li>
            <div class="act">v0.3.0.1111 </div>
            <div class="desc">對應https進行解讀修正</div>
            <div class="desc">新增：活動刀#150資訊</div>
            <div class="desc">新增：極打資訊、傳聞中的極化經驗值資訊</div>
            <div class="desc">UI微調：將資材數量從套件header移至[本丸]分頁顯示，避免字體擠成一團</div>
            <div class="desc">其他UI微調：很多很多....</div>
            <div class="desc">致其他拆包研究的攻城師：已補齊刀帳中推測資料欄位，程式結構化緩慢的進行中</div>
          </li>
          <li>
            <div class="act">v0.3.0.111 </div>
            <div class="desc">修彈出視窗的錯字</div>
          </li>

          <li>
            <div class="act">v0.3.0.11 2017/10/29</div>
            <div class="desc">預先新增三花極打資料</div>
          </li>
          <li>
            <div class="act">v0.3.0.1 2017/10/21</div>
            <div class="desc">新增四花極打與三花極打資料 經測試經驗值顯示OK</div>
            <div class="desc">刀種更新至 大般若長光</div>
            <div class="desc">致其他拆包研究的攻城師：已將程式碼排版為易於閱讀的狀況</div>
          </li>

          <li>
            <div class="act">v0.3.0.</div>
            <div class="desc">Uchigatana Kiwame now have their experience points properly displayed.</div>
          </li>

          <li>
            <div class="act">v0.2.9.1 2017/10/12</div>
            <div class="desc">翻譯並補齊靜態參考資料</div>
            <div class="desc">新增極打資料型態(尚未確認、待補齊)</div>
          </li>

          <li>
            <div class="act">v0.2.9 2017/09/15</div>
            <div class="desc">Wakizashi Kiwame now have their experience points properly displayed (level 55).</div>
            <div class="desc">Update for Uchigatana Kiwame will be implemented once exp values have been determined.</div>
          </li>

          <li>
            <div class="act">v0.2.0 150315</div>
            <div class="desc">* 远征提醒修复</div>
            <div class="desc">+ 手入提醒</div>
            <div class="desc">+ 疲劳演算</div>
            <div class="desc">+ 刀装汇总</div>
            <div class="desc">+ 锻刀和掉落统计</div>
          </li>

        </ul>
      </div>
      <!-- 更新log -->

    </div>
  </div>
  <!-- 第三方資源 -->
  <script src="../../thirdparty/FileSaver.js"></script>
  <script src="../../thirdparty/lodash.js"></script>
  <script src="../../thirdparty/jquery.js"></script>
  <script src="../../thirdparty/vue.js"></script>
  <script src="../../thirdparty/aes.js"></script>
  <script src="../../thirdparty/pad-nopadding-min.js"></script>
  <!-- 抓取版本 
  <script src="../../manifest.json"></script>-->
  <!-- 套件程式載入 -->
  <script src="./app/define.js"></script>
  <script src="./app/data.js"></script>
  <script src="./app/config.js"></script>
  <script src="./app/store.js"></script>
  <script src="./app/event.js"></script>
  <script src="./app/parse.js"></script>
  <script src="./app/router.js"></script>
  <script src="./app/view.js"></script>
  <script src="./app/app.js"></script>
  <!-- 工程中
  <script src="./app/timer.js"></script>
-->
</body>

</html>